flows (1).json
[
    {
        "id": "c733b251eb941eda",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6244e6fb69be171e",
        "type": "mqtt in",
        "z": "c733b251eb941eda",
        "name": "",
        "topic": "cps/m3ef/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a45e15eeefbb50e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 880,
        "wires": [
            [
                "c2c5f3a0b56a4a63",
                "fdca556f7c2e2d40"
            ]
        ]
    },
    {
        "id": "159806f5633b4288",
        "type": "mqtt in",
        "z": "c733b251eb941eda",
        "name": "",
        "topic": "cps/m3ef/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a45e15eeefbb50e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 740,
        "wires": [
            [
                "a1ae2a7d05e96805",
                "10dfc8dd764a1798"
            ]
        ]
    },
    {
        "id": "a1ae2a7d05e96805",
        "type": "debug",
        "z": "c733b251eb941eda",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 700,
        "wires": []
    },
    {
        "id": "10dfc8dd764a1798",
        "type": "ui_gauge",
        "z": "c733b251eb941eda",
        "name": "",
        "group": "fada6c262f1e7c6e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 460,
        "y": 780,
        "wires": []
    },
    {
        "id": "c2c5f3a0b56a4a63",
        "type": "debug",
        "z": "c733b251eb941eda",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 840,
        "wires": []
    },
    {
        "id": "fdca556f7c2e2d40",
        "type": "ui_chart",
        "z": "c733b251eb941eda",
        "name": "",
        "group": "fada6c262f1e7c6e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a45e15eeefbb50e7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "15",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fada6c262f1e7c6e",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "b5022a158a18c0b2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5022a158a18c0b2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]